@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;1,100;1,200;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Jost:ital,wght@0,100;1,100;1,200;1,900&display=swap');


:root{
    --padrao : font-family: 'Jost', sans-serif;
    --media:  'Abril Fatface', cursive;

}


/* Estilo para o corpo da página */
body {

    margin: 0;
    padding: 0;
    background-color:rgb(71,39,76);
}

h1.cabecalho{
   margin: auto;
   padding:3vh;
   color: rgb(71,39,76);
   font-family: var(--media);
   font-size: 80px;
   font-weight: bold;  
}
h2.cabecalho2{
    font-family: var(--padrao);
    font-size: 80px;
    margin-top: 10px;
    color: #25d366;
    margin-left: 90px;

}

section.img1{
    height: 100vh; 
    background-image: url(Imagens/media.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 13px 0px black;
    margin-bottom: -100px;
}

section > p{
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    margin-left: 20vh;
    margin-top: 50vh
    
}

.bottom{
    color: #25d366;
}

/* Estilo para a seção de produtos */
#products {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para a lista de produtos */
#products ul {
    list-style-type: none;
    padding: 0;
}

/* Estilo para os itens de produto */
#products li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    border-bottom: 1px solid #ddd;
}

/* Estilo para os botões Adicionar ao Carrinho */
#products button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para o carrinho de compras */
#cart {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para a lista de itens do carrinho */
#cart ul {
    list-style-type: none;
    padding: 0;
}

/* Estilo para os itens do carrinho */
#cart li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

/* Estilo para os botões Remover */
#cart button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para o botão Enviar via WhatsApp */
#cart button:last-child {
    background-color: #25d366;
}

/* Estilo para o rodapé */
footer {
    text-align: center;
    color: #666;
    padding: 20px;
    background-color: #fff;
    margin-top: 80%;
} 
